body{
    background-color:#fff;
}
#test{
    background-color:#fff;
}
#contact{
    background-color:#fff;
}
#testimonials{
    background-color:#fff;
}
#h{
  margin-left: 50px; 
  color: #000;
}
.footerlist{
    color: #fff;
    font-size: 20px;
}