.mydropdowncss:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.container2
{
  margin-left: 5%;
  margin-right: 5%;
}


.container1
{
  margin-left: 15%;
  margin-right: 15%;
}

#menu-nav {
  max-width: 1000px;
  margin: 130px auto;
  background-color: #ecf0f1;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
 
#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
  list-style-type: none;
}
#navigation-bar li {
  float: left;
  width: 20%;
  
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color:#4285F4;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #4285F4;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}


